<div class="wish-unit">
<div class="row">

<div class="span1">Picture Here</div>

<div class="span8">
  <h1 class="wish-title"><%= link_to wish.title, wish %> </h1>
  <p class="wish-description"><%= wish.description %></p>

  <p class="wish-deal"><span class="label">Ideal Deal </span><%= wish.deal %></p>
 
    <% if wish.claimed? %>
         <p class="wish-done-deal"><%= wish.claimmsg %></p>
    <% end %>

<p class="wish-description"> <%= link_to 'Edit', edit_wish_path(wish) %> | Posted on: <%= wish.created_at.strftime("%B %d, %Y") %> </p>

</div>

<div class="span3 wish-upvote">
	<h3><%= wish.upvotes.count %>/<%= wish.threshold %> Upvotes</h3>
	<p>
		<% @wish = wish %>
		<%= render 'upvotes/form' %>
	</p>

	<% if wish.claimed? %>
	<a class="btn btn-primary" href="#">Claimed!</a>
	<% else %>
	<a class="btn btn-success" href="#">Unclaimed!</a>
	<% end %>


</div>


</div>
</div>
