<div class="wish-unit">
<div class="row">

<div class="span3">Picture Here</div>

<div class="span6">
  <h1 class="wish-title"><%= link_to wish.title, wish %> </h1>
  <p class="wish-description"><%= wish.description %></p>

  <p class="wish-deal"><span class="label">Ideal Deal</span><%= wish.deal %></p>
 
    <% if wish.claimed? %>
         <p class="wish-done-deal"><%= wish.claimmsg %></p>
    <% end %>

<p class="wish-description"><%= link_to 'Show', wish %> | <%= link_to 'Edit', edit_wish_path(wish) %> | <%= link_to 'Destroy', wish, confirm: 'Crush this wish?',
    method: :delete %></p>

</div>

<div class="span3 wish-upvote">
	<h2><%= wish.threshold %></h2>
	<p>Upvotes Needed</p>
	<p>Current Upvotes:
		<%= wish.upvotes.count %>
	</p>

	<% if wish.claimed? %>
	<a class="btn btn-primary" href="#">Claimed!</a>
	<% else %>
	<a class="btn btn-success" href="#">Unclaimed!</a>
	<% end %>


</div>


</div>
</div>
