<p id="notice"><%= notice %></p>

<h3><%= @user.displayname %> </h3>

<p>
  <b>School:</b>
  <%= @user.school %>
</p>

<p>
  <b>Likes:</b>
  <%= @user.likes %>
</p>

<%= link_to 'Back', wishes_path %>
